*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh; /*viewport-percentage length unit based on the browser default*/
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.7)), url(Image/programming.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
.navLink{
    flex: 1;
    text-align: right;
}
.navLink ul li{
    list-style: none;
    display: inline;
    padding: 8px 12px;
    position: relative;
}
.navLink ul li a{
    color: antiquewhite;
    text-decoration:none ;
}

.navLink ul li:hover{
    background-color: rgb(39, 2, 87);
    transition: 0.5s;
}
.text-box{
    display: flex;
    color: azure;
    top: 20%;
    margin-left: 20px;
}
.hero-btn{
    margin: 10px 0px;
    display: inline-block;
    text-decoration: none;
    color: wheat;
    border: 1px solid wheat;
    padding: 12px 34px;
    position: relative;
}
.hero-btn:hover{
    border: 1px solid orangered;
    background-color: orangered;
    transition: 0.5s;
}
nav .fa{
    display: none;
}

/******************************/
.main{
    background-image: url(Image/wall.jpg);
    text-align: center;
}
.main i{
    font-size: 100px;
    margin: 10px;
}
.program{
    display: flex;
    justify-content: center;
}
.program div{
    border: 2px ;
    background-color: rgba(235, 245, 251, 0.8);
    height: 150px;
    width: 300px;
    margin: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.program div:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.p{
    display: inline-flex;
    justify-content: center;
    margin: 40px;
}
.p div{
    border: 2px solid aliceblue;
    border-style: outset;
    width: 300px;
    height: 50px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: aliceblue;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}
.p div p{
    margin-top: 10px;
}
/******************************/
footer{
    background: linear-gradient(#AED6F1, #2980B9) ;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: center;
}
.footer div{
    margin: 20px;
    font-size: 40px;
}
/******************************/
@media (max-width: 700px) { /* this css will used for small screen*/
    .navLink ul li{
        display: block;
    }
    .navLink {
        position: absolute;
        background: blue;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -150px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .navLink ul li:hover{
        background-color: rgb(39, 2, 87);
        transition: 0.5s;
    }
    nav .fa{
        display: block;
        font-size: 20px;
        color: rgb(39, 2, 87);
    }
    .text-box{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .program{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .p{
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        margin: 40px;
    }
}
